.custom-select-container{
    max-width: 15em;
}
.custom-select{
    /* --principal_color: rgb(93, 93, 255); */
    border: 1px solid var(--principal_color);
    border-radius: .3em;
    width: 100%;
    color: var(--principal_color);
    padding: .5em 1em;
    font-size: var(--fnt-sz014);
}

.custom-select-triangle-icon{
    /* width: 8%;      */
    width: 1em;     
    fill: var(--principal_color);
    transition: transform .3s;
}
.custom-select-triangle-icon.rotate{
    transform: rotate(180deg);
}
.custom-select-flex-header-content{
    min-height: 1.44em;
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.custom-select-dropdown-content{
    display: none;
}
.dropdown-content-overflow{
    overflow-y: scroll;
    margin-top: 1em;
    width: 100%;
}
li.no-results{
    display: none;
}
.no-options{
    width: 100%;
}
.custom-select-dropdown-content.dropdown-visible{
    display: flex;   
    font-size: var(--fnt-sz014);
    flex-direction: column;
    border: 1px solid var(--principal_color);
    color: var(--principal_color);
    z-index: 90;
    background-color: #fff;
    justify-content: center;
    max-height: 30%;
    min-height: 20em;
    align-items: flex-start;
    width: inherit;
    position: absolute;
    padding: 0;
    margin-top: .2em;
    border-radius: .4em;
}
.custom-select-dropdown-option{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7vw 0;
}
.custom-select-dropdown-option:hover{
    background-color: var(--principal_color);
    color: #fff;
}

div.search {
    width: 100%;
    font-size: var(--fnt-sz016);
    box-shadow: none;
    text-align: left;
    padding-right: 1vw;
}

div.search input {
    width: 100%;
    text-align: left;
    font-size: var(--fnt-sz012);
}
.table-left-part{
    font-size: var(--fnt-sz016);
    min-height: 3.3vw;
}

.th-cell{
    font-size: var(--fnt-sz016);
    font-weight: bold;
}
.custom-select-search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4vw 0.6vw;

}

.search-bar{
    width: 100%;
    border-radius: .3vw;
    border: 1px solid var(--principal_color);
    font-size: var(--fnt-sz014);
    height: 2vw;
}

label.placeholder.form-label{
    pointer-events: none;
    color: var(--principal_color);
}
.search-bar::placeholder{
    color: var(--principal_color);
}
.custom-select-placeholder{
    text-align: left;
    padding-left: .8    vw;
}
