/* Encabezado */
.about-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10em;
    width: 80%;
    margin: 6em auto;
}
.extra-font-size{
    font-size: var(--fnt-sz016);
}
.large-extra-font-size{
    font-size: var(--fnt-sz020);
}
.spaced-components{
    gap: 3em;
}
.container-cards .card{
    width: 20em;
    height: 25em;
    align-items: flex-start;
    min-width: unset;
}
.full-width{
    width: 100%;
}
.card:hover{
    background-color: rgb(36, 36, 98);
    color: #fff;
    transform: scale(1.1);
}

.left-blue-border{
    border-left: 4px solid var(--principal_color);
    padding-left: 2vw;
}

.card:hover svg{
    fill: #fff;
}
.card{
    width: 15em;
    height: 20em;
    padding: 2em;
    border-radius: .4em;
    font-size: var(--fnt-sz016);
    box-shadow: 0 2px 10px #777;
    transition: transform .4s;
    cursor:default;
}
#about2-svg{
    width: 15em;
    height: 15em;
}