
.section-container{
    margin-top: 4%;
    margin-bottom: 5%;
}
.contact-form-button{
    font-size: var(--fnt-sz016);
}
.contact-text{
    font-size: var(--fnt-sz020);
}
.search-bar-main-body .search-bar{
    margin: 0;
}
.main-content-help{
    margin-top: 3vw;
}
.content-questions{
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}
div.container-contact-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TO CHECK | 
            V
*/

.help-container{
    display: grid;
    grid-template-columns: 20% 77%;
    height: 90%;
}
.help-step{
    color: #fff;
    background-color: var(--principal_color);
    width: 15em;
    padding: 1em;
    font-size: var(--fnt-sz016);
    border-radius: .6em;
    cursor: pointer;
}
form.top-alignment{
    justify-content: flex-start;
    padding-top: 5em;
}
.help-step:hover{
    filter: saturate(60%);
}
.current-step{
    background-color: #323d74;
}
.help-container-data{
    display: none;
    margin: 6%;
}
.current-container{
    display: flex;
    flex-direction: column;  
    max-width: 65%;
    font-size: var(--fnt-sz018);
    gap: 2em;

}
.main-title-help{
    font-weight: 600;
    font-size: var(--fnt-sz016);
    text-align: left;
}
.grid-2-columns-help-item{
    display: grid;
    grid-template-columns: 4% 96%;
    justify-content: flex-start;
    align-items: flex-start;
}
.help-item-text{
    text-align: left;
}

.medium-ball{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #323d74;
}