.help-container{
    display: grid;
    grid-template-columns: 20% 77%;
    height: 90%;
}
.help-step{
    color: #fff;
    background-color: var(--main-color);
    width: 15em;
    padding: 1em;
    font-size: .8em;
    border-radius: .6em;
    cursor: pointer;
}
form.top-alignment{
    justify-content: flex-start;
    padding-top: 5em;
}
.help-step:hover{
    filter: saturate(60%);
}
.current-step{
    background-color: #323d74;
}
.help-container-data{
    display: none;
    margin: 6%;
}
.current-container{
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    gap: 2em;

}
.main-title-help{
    font-weight: 600;
    font-size: 1.3em;
    text-align: left;
}
.grid-2-columns-help-item{
    display: grid;
    grid-template-columns: 2% 98%;
    justify-content: flex-start;
    align-items: flex-start;
}
.help-item-text{
    text-align: left;
}

.medium-ball{
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: #323d74;
}