* {
    box-sizing: border-box;
}

.NavbarWrapper {
    font-size: var(--fnt-sz014);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    width: 100%;
    z-index: 20;
    min-height: 4vw;
}

.menu-shadow{
    border-bottom: 1px solid #2e2e2e6b;
    box-shadow: 0 2px 6px #2e2e2e52;
}

.flex-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.dropdown__sub {
    display: flex;
    padding: 0;
    gap: 1vw;
    width: max-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dropdown__content .item {
    padding: .3vw 1.3vw;
    text-decoration: none;
    color: #000000;
    height: 3vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link_tag {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}


.dropdown {
    display: flex;
    gap: .3vw;
    padding: .1vw 4vw .1vw .1vw;
    position: relative;
    z-index: 1;
    margin-right: 2vw;
    width: 100%;
    justify-content: space-between;
}

.dropdown__li {
    width: 100%;
}

.dropdown__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown__link {
    min-width: 4vw;
    padding: 0 1.4vw 0;
    min-height: 2.7vw;
    position: relative;
    z-index: 1000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.container-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .6vw;
}

.user-navbar-container{
    grid-area: identity-user;
}

.user-name-letter {
    background-color: var(--principal_color);
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-name-letter:hover {
    cursor: pointer;
}

.container-menu-user.visible{
    position: absolute;
    display:flex;
    flex-direction: column;
}
.container-menu-user {
    display: none;
    width: max-content;
    background-color: rgb(255, 255, 255);
    border-radius: .6vw;
    box-shadow: 0 0 4px #555555;
    transform: translate(20%,80%);
    gap: .4vw;
}

.user-menu-button{
    padding: .8vw 1vw;
    cursor: pointer;
}

.user-menu-button:hover{
    background-color: var(--principal_color);
    color: #fff;
    border-radius: .2vw;
}


.dropdown__content {
    display: none;
    border-radius: .2vw;
    font-size: .6vw;
    background-color: #fff;
    box-shadow: 0 0 2px #000;
    border-top: none;
}

.nav_link_tag:hover .dropdown__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 90%;
}

.company-identity{
    min-width: 10vw;
    margin-left: 2vw;
    color: var(--principal_color);
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.company-identity img{
    height: 4vw;
}

.dropdown__li .item:hover {
    background-color: var(--principal_color);
    color: #fff;
}

.sign-up{
    border-radius: 4vw;
    border: 1px solid var(--principal_color);
    transition: color,background-color .3s;
    cursor: pointer;
}

.sign-up:hover{
    background-color: var(--principal_color);
}

.sign-up:hover span{
    color: #fff;
}

.user-name-letter {
    color: #fff;
}

.user-name-letter:hover {
    filter: drop-shadow(0 0 2px #656565);
}


.logo {
    min-width: 5em;
    min-height: 4em;
    max-width: 5em;
    max-height: 4em;
    filter: drop-shadow(1px 1px 0px rgb(0, 0, 0));
}

.menu-label {
    color: rgb(1, 1, 1);
}

.navbar-navigation-grid-container{
    display: grid;
    grid-template-areas: "navigation-container access-methods identity-user";
    gap: 2vw;
}

.flex-container-menu{
    display: flex;
}

.navigation-container{
    grid-area: navigation-container;
}

.flex-container-menu-reverse{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.single-menu-cont:hover span,.single-menu-cont:active span{
    color: var(--principal_color);
}

.single-menu-cont:hover svg,.single-menu-cont:active svg{
    fill: var(--principal_color);
}

.single-menu-cont:hover path,.single-menu-cont:active path{
    fill: var(--principal_color);
}

.button-submenu.active,.button-submenu.active .dropdown-span-menu.menu-label{
    fill: var(--principal_color);
    color: var(--principal_color);
}

.hide-identity{
    opacity: 0;
}

.access-methods-container{
    padding-left: 0;
    padding-right: 2vw;
    grid-area:access-methods;
}

.hide-up-arrow{
    display: none;
}

.BurgerMenu {
    display: none;
}

.dropdown__content .item {
    font-size: var(--fnt-sz012);
}

.standard-button{
    background-color: var(--principal_color);
    color: #fff;
    font-size: var(--fnt-sz014);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3vw;
    border-radius: 1.5vw;
    font-weight: 600;
    transition: background-color .2s;
    cursor: pointer;
}

.standard-button:hover{
    background-color: var(--principal_color);
}

.standard-button-inner{
    padding: .8vw 3.8vw;
    border-radius: .3vw;
    width: max-content;
}

.scroll-up-arrow{
    font-size: var(--fnt-sz012);
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.scroll-up-arrow{
    font-size: var(--fnt-sz014);
    border-radius: 50%;
    height: 3em;
    width: 3em;
}

.scroll-up-arrow .standard-button-inner svg{
    fill: #fff;
    height: 1.2vw;
    width: 1.2vw;
}

.scroll-up-arrow{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 20;
}

.scroll-up-arrow div{
    pointer-events: none;
}

.scroll-up-arrow svg{
    pointer-events: none;
}

.scroll-up-arrow .standard-button-inner{
    border-radius: 50%;
}

/* tablet design don't delete me o you may experiment a 3d effect*/
@media (min-width: 700px) and (max-width : 1000px){
    .NavbarWrapper {
        font-size: var(--fnt-sz016);
    }
}
@media (max-height: 1200px) and (max-width: 1000px) {

    .navbar-navigation-grid-container{
        grid-template-areas: 
        "identity-user"
        "navigation-container"
        "access-methods";
        gap: .5vw;
        overflow-y: auto;
        padding: 1vw 0 2vw 2vw;
    }

    .NavbarWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        font-size: 1vw;
        padding: 0 1vw;
        z-index: 100;
    }

    .access-methods-container{
        width: 80%;
    }

    .company-identity{
        margin-left: 0;
        width: 80%;
        font-size: var(--fnt-sz018);
    }

    .nav_link_tag.sign-up-button-container{
        display: block;
    }

    .user-greeting{
        cursor:default;
    }

    .nav_link_tag:hover .dropdown__content {
        display: grid;
        position: relative;
        top: 0;
    }
    
    .container-user {
        margin-top: 1em;
    }

    .dropdown__content {
        background-color: transparent;
        box-shadow: none;
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 7vw;
    }

    
    .flex-container-menu{
        flex-direction: column;
        margin-top: 2vw;
        padding: 0;
    }
    
    .dropdown__list {
        display: block;
    }

    div.dropdown__content__visible {
        grid-template-rows: 1fr;
    }

    .dropdown__content {
        position: static;
        border: none;
        display: grid;
        grid-template-rows: 0fr;
        transition: .3s grid-template-rows;
    }

    .dropdown__list {
        list-style: none;
    }

    .flex-container-menu-reverse{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 2vw;
    }

    .dropdown__link {
        padding: 1vw 0.7vw;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: start;
        position: relative;
    }

    .dropdown__sub {
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dropdown__li {
        width: 100%;
        list-style: none;
        margin-left: auto;
    }

    .BurgerMenu {
        display: flex;
        height: 3vw;
        width: 3vw;
        border-radius: .6vw;
        flex-direction: column;
        gap: .35vw;
        position: absolute;
        align-items: center;
        cursor: pointer;
        z-index: 20;
        position: absolute;
        right: 2vw;
        justify-content: center;

    }

    .BurgerMenu div {
        height: .25vw;
        width: 2vw;
        background-color: #6f6f6f;
    }

    .dropdown__span {
        font-size: 1.6vw;
    }

    .bottom-line,
    .top-line,
    .center {
        transition: all 0.6s;
    }

    .BurgerCheck {
        display: block;
        opacity: 0;
        position: absolute;
        right: 2vw;
        z-index: 200;
        min-width: 7vw;
        min-height: 7vw;
    }

    .button-submenu{
        cursor: pointer;
    }

    .dropdown {
        display: flex;
        padding: 0;
        flex-direction: column;
        position: fixed;
        z-index: 1;
        top: 0;
        height: 100%;
        background-color: #fff;
        margin-right: 0;
        right: -100%;
        box-shadow: 0 0 2px #555555;
        margin-top: 0;
        transition: right 0.3s ease-in-out;
        width: 80%;
    }

    .principal-menu-visible {
        right: 0;
        transition: right 0.3s ease;
    }

    .bottom-line,
    .top-line,
    .center {
        transition: all 0.6s;
    }

    .bottom-line-second-form {
        transform: rotate(45deg);
        position: absolute;
        border-radius: .7em;
    }

    .top-line-second-form {
        transform: rotate(-45deg);
        position: absolute;
        border-radius: .7em;
    }

    div.center-second-form {
        width: 0;
        position: absolute;
    }


    .user-name-letter {
        width: 3.5vw;
        height: 3.5vw;
        cursor: pointer;
    }

    .container-menu-user {
        position: absolute;
        margin: 1vw;
        transform: translate(20%,10%);
        z-index: 1100;
    }
}