/* POPUP */


.popup-container{
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4141414a;
    overflow-y: scroll;
    
}

.popup-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin-bottom: 2vw;
}

.popup-icon svg{
    height: 6vw;
}

button.popup-close:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

button.popup-close:focus,button.popup-close:focus-visible{
    box-shadow: 0 0 0 3px rgba(110,120,129,.5);
}

button.popup-close.popup-cancel{
    background-color: #6e7881;
}

button.popup-close.popup-deny{
    background-color: #dc3741;
}

button.popup-close{
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: initial;
    background-image: initial;
    background-color: #7066e0;
    color: #fff;
    font-size: 1em;
    margin: .3125em;
    padding: .625em 1.1em;
    cursor: pointer;
}

.popup{
    width: 30vw;
    padding: 2vw 0 1vw;
    min-height: 25vw;
    border-radius: .8vw;
    background-color: #fff;
    box-shadow: 0 2px 2px #b8b8b880;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.popup-shown{
    animation: popup-show .3s;
}

.popup.popup-hide{
    animation: popup-hide .15s forwards;
}

@keyframes popup-hide {
    0% {
        transform: scale(1);
        opacity: 1;
    }
      100% {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes popup-show {
0% {
  transform: scale(0.7);
}
45% {
  transform: scale(1.05);
}
80% {
  transform: scale(0.95);
}
100% {
  transform: scale(1);   
    }
}
.popup-draggable.popup-dragging{
    cursor: grabbing;
}

.popup-draggable{
    cursor: grab;
}

.popup-title{
    font-size: 3vw;
    color: #414141d5;
    margin-bottom: 1vw;
}

.popup-content{
    margin: 1.2vw 0;
    padding: .5vw 2vw;
    font-size: 1.2em;
    color: #414141db;
}

.footer{
    margin-top: 1vw;
    padding: 1vw 1vw 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #36363624;
    width: 100%;
}
/* ALERT */
.alert{
    height: 4em;
    position: absolute;
    bottom: 20%;
    right: -50%;
    transition: right .5s;
    border-radius: .3em;
    font-size: var(--fnt-sz018);
    background-color: #fff;
    display: grid;
    align-items: center;
    box-shadow: 0 0 2px #414141;
    grid-template-rows: 90% 10%;
    max-width: 20em;
}


.alert.starting{
    right: .4em;
}

.toast-icon{
    width: 3em;
    height: 3em;
}
.alert-content-container{
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
}
  
.alert-progress-bar {
    width: 1%;
    height: .4em;
    background-color: rgb(174, 174, 174);
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;
}
.alert-info{
    color: rgb(31, 102, 128);
}
.alert-error{
    color: #f00;
}
.alert-success{
    color:#0d0;
}
.alert-warning{
    color: #dd0;
}

.alert-info svg{
    fill: rgb(31, 102, 128);
}
.alert-error svg{
    fill: #f00;
}
.alert-success svg{
    fill:#0d0;
}
.alert-warning svg{
    fill: #dd0;
}

.alert-progress-bar.alert-error{
    background-color: #f00;
}
.alert-progress-bar.alert-info{
    background-color: rgb(31, 102, 128);
}
.alert-progress-bar.alert-success{
    background-color:#0d0;
}
.alert-progress-bar.alert-warning{
    background-color:#dd0;
}
img.alert-warning{
    border-radius:50%;
    border:2px solid #dd0;
}
img.alert-info{
    border-radius:50%;
    border:2px solid rgb(31, 102, 128);
}

@media (max-height: 1000px) and (max-width: 1000px) {
    .alert{
        height: 4em;
        position: absolute;
        bottom: 20%;
        right: -50%;
        transition: right .5s;
        border-radius: .3em;
        font-size: var(--fnt-sz016);
        background-color: #fff;
        display: grid;
        align-items: center;
        box-shadow: 0 0 2px #414141;
        grid-template-rows: 90% 10%;
        transform: scale(.8);
        right:-80% ;
    }   
    .alert.starting{
        right: -7%;
    }
}